<h1>List des livres</h1>
<% @all_books.each do |book| %>
<p><%= book.id %> : <a href="/books/<%= book.id %>"><%= book.title %></a></p>
<% end %>

<%= form_tag "/books", method: "post" do %>
  <input type="text" name="title">
  <input type="submit" value="Ajouter à la liste">
<% end%>
