<h1>Affichage d'un livre</h1>

<p><%= @book.title_was %></p>

<%= render "books/form" %>

<%= form_tag "books/#{@book.id}", method: "delete" do %>
  <input type="submit" value="Supprimer le livre">
<% end %>

<a href="/books">Revenir à la liste</a>
